@font-face {
  font-family: Rubiko;
  src: url(/assets/Font/RubikIso-Regular.ttf);
  font-family: Monserrat;
  src: url(/assets/Font/Montserrat-BoldItalic.ttf)
}
html,
body {
  height: 100%;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: 0px solid;
}

img {
  max-width: 100%;
  height: auto;
}

.fix {
  overflow: hidden;
}

p {
  margin: 0 0 15px;
  color: rgb(252, 118, 46);
}

h6 {
  font-family: 'Rubik Iso';
  margin: 0 0 15px;
  color: #444;
  font-weight: 500;
}

h1 {
  font-size: 12px;
  line-height: 50px;
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

a:hover {
  color: #d1d424;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0 none;
}

body {
  background: #fff none repeat scroll 0 0;
  color: rgb(184, 187, 29);
  font-family: 'Rubik Iso';
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  line-height: 22px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #e8ff17;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #60ccdc;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.clear {
  clear: both;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}


div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.gif") no-repeat center center;
}

::-moz-selection {
  background: #3EC1D5;
  text-shadow: none;
}

::selection {
  background: #3EC1D5;
  text-shadow: none;
}

.area-padding {
  padding: 70px 0px 80px;
}

.area-padding-2 {
  padding: 70px 0px 50px;
}

.padding-2 {
  padding-bottom: 90px;
}

.section-headline h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
  text-transform: capitalize;
}

.section-headline h2::after {
  border: 1px solid #333;
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
}

.sec-head {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border-radius: 10px;
  }
  body{
    font-family: 'Montserrat';
   }
  nav{
    background: rgba(0, 0, 0, 0.7);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
  }
  label.logo{
    color:rgb(56, 139, 150);
    font-size: 35px;
    line-height: 80px;
    padding: 0 200px;
    font-weight: bold;
    font-family: 'Rubik Iso', cursive;  
  }
  nav ul{
      float: right;
      margin-right:200px
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 40px;
  }
  nav ul li a{
    color: rgb(56, 139, 150);
    font-size: 15px;
    text-transform: uppercase;
    line-height: 80px;
    padding: 20 200px;
    position: static;
    font-family: 'Rubik Iso', cursive;  }

/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  position: relative;
  bottom: 10px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 40px;
  font-size: 15px;
  font-weight: 500;
  color: #fffbfb;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #3ec1d5;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #0d2529;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #3ec1d5;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 2, 2, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0d2529;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #3ec1d5;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #3ec1d5;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: #985555;
  overflow: hidden;
  position: relative;
}

@media (max-height: 500px) {
  #hero {
    height: 150vh;
  }
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}

#hero .container {
  text-align: center;
}

#hero h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 20px;
    line-height: 1.2;
  }
}

#hero p {
  width: 80%;
  font-size: 38px;
  line-height: 1.2;
  margin: 0 auto 30px auto;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #hero p {
    font-size: 28px;
    line-height: 1.2;
  }
}

#hero .carousel-fade {
  overflow: hidden;
}

#hero .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#hero .carousel-fade .carousel-inner .carousel-item,
#hero .carousel-fade .carousel-inner .active.carousel-item-start,
#hero .carousel-fade .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-fade .carousel-inner .active,
#hero .carousel-fade .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-fade .carousel-inner .carousel-item-next,
#hero .carousel-fade .carousel-inner .carousel-item-prev,
#hero .carousel-fade .carousel-inner .active.carousel-item-start,
#hero .carousel-fade .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

@media (min-width: 1024px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#hero .carousel-indicators li {
  cursor: pointer;
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #3ec1d5;
}

#hero .btn-get-started:hover {
  background: #ffff;
  color: #3ec1d5;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.kutija{
  box-sizing: border-box;
    margin: 0px ;
    width: 100%;
    padding: 5px;
    background-color: #fdf7f7;
    position: relative;
    height: 58vh;
}
img{
  max-width: 580px;
  float: left;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-right: 15px;
}
.text-box{
      color: #f34646;
      float: right;

}
.text-box h2{
  font-weight: normal;
  font-size: 35px;
  padding: 0 50px;
  color: #3EC1D5;
  font-weight: bold;
  margin: 40px 0;
  font-family: 'Rubik Iso', cursive;
  
}
.text-box p{
  font-size: 16px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.treca{
  
  background-color: #f1f1f1;
  content: "";
  display: table;
  clear: both;
  

}
.galerija{
  float: left;
  width: 33.33%;
  padding: 20px;
}
.galerija img{
  width: 100%;
  cursor: pointer;
  height: auto;
} /*okretanje slika */
.galerija img:hover{
  transform: scale(0.8) rotate(-10deg);
  border-radius: 20px;
  box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
}
.full-image{
  width: 100%;
  height: 100vh;
  background: rgba(1, 2, 2, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.full-img img{
  width: 90%;
  max-width: 500px;
}
.full-img span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;

}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (min-width: 1920px) {
  .work-right-text {
    padding: 150px 150px;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .slider-content {
    padding: 146px 0;
  }

  .work-right-text {
    padding: 40px 0;
  }

  .work-right-text h2 {
    font-size: 18px;
    line-height: 28px;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .submitbtn {
    float: none;
    width: 99.8%;
  }

  .icons-bottom ul li a {
    height: 40px;
    line-height: 37px;
    width: 40px;
  }

  .blog-post-dlc ul li {
    padding-left: 20px;
    padding-right: 20px;
  }

  .awesome-portfolio-content .portfolio-2 {
    width: 50%;
  }

  .gallary-details .single-awesome-portfolio {
    width: 50%;
  }

  .tab-menu ul.nav li a {
    padding: 8px 20px;
  }
}

@media (max-width: 575px) {
  .slider-content {
    padding: 0;
  }
}
/*footer */

.content {
  padding: 30px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  text-align: center;
  padding: 30px;
  position: relative;
  bottom: 5px;
  width: 100%;
  font-size: 30px;
}
.footer p{
  color:#3EC1D5;
  font-size: 30px;
  text-align: center;
  font-family: 'Rubik Iso', cursive;
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}
@media (max-width: 1000px){
  section{
    padding: 100px 50px;
  }
}
@media (max-width: 600px){
  section{
    padding: 125px 30px;
  }
}
.box{
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: rgba(0, 255, 255, 0.5);
  text-align: center;
  padding: 350px;
  font-family: 'Montserrat', sans-serif;
  
}
.box video{
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.box h1{
  margin-bottom: 15px;
  font-size: 65px;
  text-transform: uppercase;
}
@media (max-width: 800px){
  .box{
    min-height: 600px;
  }
  .box h1{
    font-size: 32px;
  }
}
span{
  transition: all 0.5s ease;
}
span.fade{
 color: #3EC1D5;
 
}
